/* #region Container Main */
.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 1rem 0;
  font-size: 1.5rem;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  border: 3px solid brown;
  background-color: lightslategray;
  padding: 0.5rem;
  width: 250px;
  height: 250px;
}

.container-row {
  flex-direction: row;
}
.container-column {
  flex-direction: column;
}
.flex-start-row{
  justify-content: flex-start;
}
.center-row{
  justify-content: center;
}
.flex-end-row{
  justify-content: flex-end;
}
.space-around-row{
  justify-content: space-around;
}
.space-between-row{
  justify-content: space-between;
}

.space-evenly-row{
  justify-content: space-evenly;
}


.flex-start-column{
  justify-content: flex-start;
}
.center-column{
  justify-content: center;
}
.flex-end-column{
  justify-content: flex-end;
}
.space-around-column{
  justify-content: space-around;
}
.space-between-column{
  justify-content: space-between;
}

.space-evenly-column{
  justify-content: space-evenly;
}


.child {
  width: 50px;
  height: 50px;
}

.child1 {
  background: lightgreen;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child2 {
  background: lightsalmon;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child3 {
  background: lightblue;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child>.text {
  font-weight: bold;
}  
/* #endregion */

/* #region Container Flex Direction - Parent */

/* #endregion */